# Android
*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties

# Firebase
google-services.json
.firebase/
fire-debug.log
firebase-debug.log
firestore-debug.log
pubsub-debug.log
ui-debug.log

# Node/Functions
node_modules/
functions/node_modules/
functions/.env
functions/lib/
.env

# Misc
.DS_Store
*.log
